.struct-thumb, .struct-thumb span { display: block; color:#3B7CB9; width:70px; }
.struct-thumb span { height:72px; margin-bottom: 5px; background:url('../img/structures/structures.jpg') no-repeat top left;}

.struct-thumb .armory { background-position: 0 0;  } 
.struct-thumb .assimilator { background-position: 0 -77px;  } 
.struct-thumb .baneling-nest { background-position: 0 -154px;  } 
.struct-thumb .barracks { background-position: 0 -231px;  } 
.struct-thumb .bunker { background-position: 0 -308px;  } 
.struct-thumb .command-center { background-position: 0 -385px;  } 
.struct-thumb .creep-tumor { background-position: 0 -462px;  } 
.struct-thumb .cybernetics-core { background-position: 0 -537px;  } 
.struct-thumb .dark-shrine { background-position: 0 -614px;  } 
.struct-thumb .engineering-bay { background-position: 0 -691px;  } 
.struct-thumb .evolution-chamber { background-position: 0 -768px;  } 
.struct-thumb .extractor { background-position: 0 -845px;  } 
.struct-thumb .factory { background-position: 0 -922px;  } 
.struct-thumb .fleet-beacon { background-position: 0 -999px;  } 
.struct-thumb .forge { background-position: 0 -1076px;  } 
.struct-thumb .fusion-core { background-position: 0 -1153px;  } 
.struct-thumb .gateway { background-position: 0 -1228px;  } 
.struct-thumb .ghost-academy { background-position: 0 -1305px;  } 
.struct-thumb .greater-spire { background-position: 0 -1382px;  } 
.struct-thumb .hatchery { background-position: 0 -1459px;  } 
.struct-thumb .hive { background-position: 0 -1536px;  } 
.struct-thumb .hydralisk-den { background-position: 0 -1613px;  } 
.struct-thumb .infestation-pit { background-position: 0 -1690px;  } 
.struct-thumb .lair { background-position: 0 -1767px;  } 
.struct-thumb .lurker_den { background-position: 0 -1844px;  } 
.struct-thumb .missile-turret { background-position: 0 -1921px;  } 
.struct-thumb .nexus { background-position: -75px 0;  } 
.struct-thumb .nydus-network { background-position: -75px -77px;  } 
.struct-thumb .orbital-command { background-position: -75px -154px;  } 
.struct-thumb .photon-cannon { background-position: -75px -231px;  } 
.struct-thumb .planetary-fortress { background-position: -75px -308px;  } 
.struct-thumb .pylon { background-position: -75px -385px;  } 
.struct-thumb .reactor { background-position: -75px -462px;  } 
.struct-thumb .refinery { background-position: -75px -539px;  } 
.struct-thumb .roach-warren { background-position: -75px -616px;  } 
.struct-thumb .robotics-bay { background-position: -75px -693px;  } 
.struct-thumb .robotics-facility { background-position: -75px -770px;  } 
.struct-thumb .sensor-tower { background-position: -75px -847px;  } 
.struct-thumb .spawning-pool { background-position: -75px -924px;  } 
.struct-thumb .spine-crawler { background-position: -75px -1001px;  } 
.struct-thumb .spire { background-position: -75px -1078px;  } 
.struct-thumb .spore-crawler { background-position: -75px -1155px;  } 
.struct-thumb .stargate { background-position: -75px -1232px;  } 
.struct-thumb .starport { background-position: -75px -1309px;  } 
.struct-thumb .supply-depot { background-position: -75px -1386px;  } 
.struct-thumb .tech-lab { background-position: -75px -1463px;  } 
.struct-thumb .templar-archives { background-position: -75px -1540px;  } 
.struct-thumb .twilight-council { background-position: -75px -1617px;  } 
.struct-thumb .ultralisk-cavern { background-position: -75px -1694px;  } 
.struct-thumb .warpgate { background-position: -75px -1771px;  }