/****       Upgrades Thumbnails styles : 76x76 ****/
.upgrade-thumb, .upgrade-thumb span { display: block; color:#3B7CB9; width:80px; }
.upgrade-thumb span { height:76px; margin-bottom: 5px; background:url('../img/upgrades/upgrades-table.png') no-repeat;}

/* Protoss */
.upgrade-thumb:hover .air-armor-l1 { background-position: 0 0;  } 
.upgrade-thumb .air-armor-l1 { background-position: 0 -126px;  } 
.upgrade-thumb:hover .air-armor-l2 { background-position: 0 -252px;  } 
.upgrade-thumb .air-armor-l2 { background-position: 0 -378px;  } 
.upgrade-thumb:hover .air-armor-l3 { background-position: 0 -504px;  } 
.upgrade-thumb .air-armor-l3 { background-position: 0 -630px;  } 
.upgrade-thumb:hover .air-weapons-l1 { background-position: 0 -756px;  } 
.upgrade-thumb .air-weapons-l1 { background-position: 0 -882px;  } 
.upgrade-thumb:hover .air-weapons-l2 { background-position: 0 -1008px;  } 
.upgrade-thumb .air-weapons-l2 { background-position: 0 -1134px;  } 
.upgrade-thumb:hover .air-weapons-l3 { background-position: 0 -1260px;  } 
.upgrade-thumb .air-weapons-l3 { background-position: 0 -1386px;  } 
.upgrade-thumb:hover .blink { background-position: 0 -1512px;  } 
.upgrade-thumb .blink { background-position: 0 -1638px;  } 
.upgrade-thumb:hover .charge { background-position: 0 -1764px;  } 
.upgrade-thumb .charge { background-position: 0 -1890px;  } 
.upgrade-thumb:hover .extended-thermal-lances { background-position: -126px 0;  } 
.upgrade-thumb .extended-thermal-lances { background-position: -126px -126px;  } 
.upgrade-thumb:hover .flux-vanes { background-position: -126px -252px;  } 
.upgrade-thumb .flux-vanes { background-position: -126px -378px;  } 
.upgrade-thumb:hover .gravitic-booster { background-position: -126px -504px;  } 
.upgrade-thumb .gravitic-booster { background-position: -126px -630px;  } 
.upgrade-thumb:hover .gravitic-drive { background-position: -126px -756px;  } 
.upgrade-thumb .gravitic-drive { background-position: -126px -882px;  } 
.upgrade-thumb:hover .graviton-catapult { background-position: -126px -1008px;  } 
.upgrade-thumb .graviton-catapult { background-position: -126px -1134px;  } 
.upgrade-thumb:hover .ground-armor-l1 { background-position: -126px -1260px;  } 
.upgrade-thumb .ground-armor-l1 { background-position: -126px -1386px;  } 
.upgrade-thumb:hover .ground-armor-l2 { background-position: -126px -1512px;  } 
.upgrade-thumb .ground-armor-l2 { background-position: -126px -1638px;  } 
.upgrade-thumb:hover .ground-armor-l3 { background-position: -126px -1764px;  } 
.upgrade-thumb .ground-armor-l3 { background-position: -126px -1890px;  } 
.upgrade-thumb:hover .ground-weapons-l1 { background-position: -252px 0;  } 
.upgrade-thumb .ground-weapons-l1 { background-position: -252px -126px;  } 
.upgrade-thumb:hover .ground-weapons-l2 { background-position: -252px -252px;  } 
.upgrade-thumb .ground-weapons-l2 { background-position: -252px -378px;  } 
.upgrade-thumb:hover .ground-weapons-l3 { background-position: -252px -504px;  } 
.upgrade-thumb .ground-weapons-l3 { background-position: -252px -630px;  } 
.upgrade-thumb:hover .hallucination { background-position: -252px -756px;  } 
.upgrade-thumb .hallucination { background-position: -252px -882px;  } 
.upgrade-thumb:hover .khaydarin-amulet { background-position: -252px -1008px;  } 
.upgrade-thumb .khaydarin-amulet { background-position: -252px -1134px;  } 
.upgrade-thumb:hover .psionic-storm { background-position: -252px -1260px;  } 
.upgrade-thumb .psionic-storm { background-position: -252px -1386px;  } 
.upgrade-thumb:hover .shields-l1 { background-position: -252px -1512px;  } 
.upgrade-thumb .shields-l1 { background-position: -252px -1638px;  } 
.upgrade-thumb:hover .shields-l2 { background-position: -252px -1764px;  } 
.upgrade-thumb .shields-l2 { background-position: -252px -1890px;  } 
.upgrade-thumb:hover .shields-l3 { background-position: -378px 0;  } 
.upgrade-thumb .shields-l3 { background-position: -378px -126px;  }